.row{
    margin-top: 150px !important;
    height: 500px;
}
.header-text{
    position: relative;
}
.header-text::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 160px;
    background-image: url(img/368498732_759704666171532_1588197405095196288_n.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: -200px;
    bottom: 0;
}
.header-img{
    position: relative;
}
.header-img::before{
    content: "";
    position: absolute;
    background-image: url(img/370225245_980009500181845_6064959461468118581_n.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px !important;
    height: 100% !important;
    height: auto;
    left: -80px;
    bottom: 0;
}
.header-img img{
    width: 90%;
    object-fit: cover;
}